<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/login.css?v=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <img src="/static/dog_footprints.png" alt="Retriever Image" class="retriever-image-login">
            <h2>Welcome to RetrieveR!</h2>
        </div>

        <div class="right-section">
            <h2 id="login" class="rightlogin">Login</h2>
            <form id="loginForm">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="username@email.com">
                
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required placeholder="Password">

                <button type="submit" class="login-btn">Login</button>
            </form>
            <p>New User? <a href="/signup.html">Signup</a></p>
        </div>
    </div>

    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Incorrect email or password. Please try again.</p>
        </div>
    </div>

    <script src="static/login.js"></script>
</body>
</html>